<body>
{{> nav}}
<section class="main_container">
{{> contact}}
</section>
<aside class="ad-container">
  <div class="ad-content">
    <!-- Ad placeholder -->
    <div class="ad-banner">Sponsored Content</div>
  </div>
</aside>
{{> newsletter_section}}
{{> footer}}
</body>
