<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About - Mystic Site</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <header>
    </header>

    <main>
      <section>
        <h1>About Us</h1>
        <p>We are dedicated to sharing the wisdom of ancient mystical
          traditions...</p>
      </section>
    </main>

    <footer>
    </footer>
    <script src="js/script.js"></script>
  </body>
</html>